<a href="https://colab.research.google.com/github/emafriki/Optativa-Python-para-matematicas-2023/blob/main/Ternas_pitagoricas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Ternas pitagoricas <1000**

Para empezar, sabemos que una terna pitagorica es aquel conjunto de numeros naturales $(a,b,c)$ que cumple la relación

$a^2+b^2=c^2$

Como por ejemplo $ (3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), … $


Podemos comprobar facilmente esto:

In [ ]:
#si definimos c como la suma de los cuadrados de a y b
c=5**2+12**2
print('13²=',c)
13**2 #podemos comprobarlo

13²= 169

169

Si cambiamos los numeros del codigo anterior por los de ejemplo de las ternas es rapido y facil de comprobar

Ahora bien, queremos clasificar todas las terna pitagóricas $(a,b,c)$ tales que $a,b,c<1000$

Para esto generaremos un codigo en el lenguaje de programacion python para que sea mas rápido y eficaz, el codigo seria el siguiente:

In [ ]:
from math import *


def ternasPitagoricas(x: int) -> list[tuple[int, int, int]]:
    return [(a, b, c)
            for a in range(0, x+1)
            for b in range(a+1, x+1)
            for c in range(b+1, x+1)
            if a**2 + b**2 == c**2 and a + b + c == x]
for i in range(1000):
    d=ternasPitagoricas(i)
    if d!=[]:
       print(d)

[(3, 4, 5)]
[(6, 8, 10)]
[(5, 12, 13)]
[(9, 12, 15)]
[(8, 15, 17)]
[(12, 16, 20)]
[(7, 24, 25)]
[(10, 24, 26), (15, 20, 25)]
[(20, 21, 29)]
[(18, 24, 30)]
[(16, 30, 34)]
[(12, 35, 37), (21, 28, 35)]
[(9, 40, 41), (15, 36, 39)]
[(24, 32, 40)]
[(27, 36, 45)]
[(14, 48, 50)]
[(20, 48, 52), (24, 45, 51), (30, 40, 50)]
[(28, 45, 53)]
[(11, 60, 61), (33, 44, 55)]
[(40, 42, 58)]
[(16, 63, 65), (36, 48, 60)]
[(25, 60, 65)]
[(33, 56, 65)]
[(39, 52, 65)]
[(32, 60, 68)]
[(21, 72, 75), (24, 70, 74), (42, 56, 70)]
[(48, 55, 73)]
[(18, 80, 82), (30, 72, 78), (45, 60, 75)]
[(13, 84, 85)]
[(48, 64, 80)]
[(36, 77, 85)]
[(40, 75, 85)]
[(51, 68, 85)]
[(39, 80, 89)]
[(35, 84, 91), (60, 63, 87)]
[(54, 72, 90)]
[(20, 99, 101)]
[(28, 96, 100)]
[(57, 76, 95)]
[(65, 72, 97)]
[(15, 112, 113), (40, 96, 104), (48, 90, 102), (60, 80, 100)]
[(36, 105, 111), (56, 90, 106), (63, 84, 105)]
[(60, 91, 109)]
[(22, 120, 122), (66, 88, 110)]
[(27, 120, 123), (45, 108, 117)]
[(69, 92, 115)]
[(35, 120, 125), (56, 105, 119), (80, 84, 116)]
[(44, 117, 125)]
[(32, 126, 130), (72, 96, 120)]
[(50, 120, 130), (75, 100, 125)]
[(17, 144, 145)]
[(66, 112, 130)]
[(24, 143, 145), (78, 104, 130)]
[(64, 120, 136)]
[(81, 108, 135)]
[(55, 132, 143), (88, 105, 137)]
[(42, 144, 150), (48, 140, 148), (84, 112, 140)]
[(51, 140, 149)]
[(87, 116, 145)]
[(100, 105, 145)]
[(96, 110, 146)]
[(36, 160, 164), (60, 144, 156), (72, 135, 153), (90, 120, 150)]
[(26, 168, 170)]
[(93, 124, 155)]
[(85, 132, 157)]
[(84, 135, 159)]
[(19, 180, 181)]
[(96, 128, 160)]
[(52, 165, 173), (65, 156, 169)]
[(49, 168, 175)]
[(33, 180, 183), (72, 154, 170), (99, 132, 165)]
[(80, 150, 170)]
[(102, 136, 170), (119, 120, 169)]
[(78, 160, 178)]
[(57, 176, 185)]
[(28, 195, 197), (60, 175, 185), (70, 168, 182), (105, 140, 175), (120, 126, 174)]
[(48, 189, 195), (108, 144, 180)]
[(40, 198, 202), (88, 165, 187)]
[(104, 153, 185)]
[(111, 148, 185)]
[(56, 192, 200)]
[(45, 200, 205), (75, 180, 195)]
[(95, 168, 193), (114, 152, 190)]
[(21, 220, 221), (99, 168, 195)]
[(117, 156, 195), (130, 144, 194)]
[(84, 187, 205)]
[(30, 224, 226), (80, 192, 208), (96, 180, 204), (120, 160, 200)]
[(140, 147, 203)]
[(123, 164, 205)]
[(133, 156, 205)]
[(63, 216, 225), (72, 210, 222), (112, 180, 212), (126, 168, 210)]
[(60, 221, 229), (85, 204, 221)]
[(129, 172, 215)]
[(104, 195, 221), (120, 182, 218)]
[(44, 240, 244), (132, 176, 220), (144, 165, 219)]
[(140, 171, 221)]
[(54, 240, 246), (90, 216, 234), (135, 180, 225)]
[(32, 255, 257)]
[(39, 252, 255), (105, 208, 233)]
[(23, 264, 265), (138, 184, 230)]
[(70, 240, 250), (112, 210, 238), (160, 168, 232)]
[(141, 188, 235)]
[(95, 228, 247), (120, 209, 241)]
[(88, 234, 250)]
[(64, 252, 260), (144, 192, 240)]
[(84, 245, 259), (147, 196, 245)]
[(108, 231, 255)]
[(69, 260, 269)]
[(100, 240, 260), (120, 225, 255), (150, 200, 250)]
[(96, 247, 265)]

En este programa definimos una funcion para las ternas dado un n, en la siguiente parte vamos evaluando las ternas del 1 al 1000, es un poco tardado y no da en orden las ternas pero fue la mejor opcion que encontre

PD: El envio tardio se debe a que me faltaba arreglar una parte del programa

PD2:Su optimizacion se queda pendiente debido a falta de tiempo y por indisposicion momentanea del autor